blinker==1.9.0
click==8.2.1
Flask==3.1.1
grpcio==1.67.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
milvus-lite==2.4.12
numpy==2.2.6
pandas==2.2.3
protobuf==6.31.1
pymilvus==2.5.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
setuptools==80.9.0
six==1.17.0
tqdm==4.67.1
tzdata==2025.2
ujson==5.10.0
Werkzeug==3.1.3
